In [6]:
# Wilcoxon signed-rank test
from numpy.random import seed
from numpy.random import randn
from scipy.stats import wilcoxon
import numpy as np
from scipy.stats import stats
# seed the random number generator
seed(1)
# generate two independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 51
data=np.array([14.72,25.44, 24.56 ,15.55])
x=[14.72/100]
q=np.array([7.43/100])
# compare samples
stat, p = wilcoxon(x-q)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
	print('Same distribution (fail to reject H0)')
else:
	print('Different distribution (reject H0)')

Statistics=0.000, p=0.317
Same distribution (fail to reject H0)

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2879: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

In [44]:
x-q

array([0.0729])

In [49]:
n=q-x

In [50]:
n

array([-0.0729])

In [60]:
stat, p = wilcoxon(n)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
	print('Same distribution (fail to reject H0)')
else:
	print('Different distribution (reject H0)')

Statistics=0.000, p=0.317
Same distribution (fail to reject H0)

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2879: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

In [5]:
import pandas as pd

In [50]:
df= pd.read_csv("C:/Users/RAHAT/Downloads/Untitled Folder/Sales_f/Signtest2.csv")

#convert date field from string to datetime
#df['date'] = pd.to_datetime(df['date'])Machine_learning_FORECAST_Updates

In [51]:
df=df*100

In [52]:
df.head()

     ANN   CNN   DNN   LSTM    RNN  CNN+LSTM  Stacked
0    9.0  46.0  25.0    9.0   33.0      13.0     11.0
1   39.0  39.0  23.0   37.0   25.0      34.0     15.0
2   38.0  16.0  19.0   40.0   17.0      46.0     11.0
3  175.0  81.0  88.0  163.0  198.0     211.0     56.0
4    0.0  14.0   3.0    1.0   13.0      12.0      1.0

In [12]:
stat, p,z = wilcoxon(df['Stacked'],df['LSTM'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
print(p)
print(z)

# interpret
alpha = 0.05
if p > alpha:
	print('Same distribution (fail to reject H0)')
else:
	print('Different distribution (reject H0)')

Statistics=15.500, p=0.000
1.4180502377137513e-06
-4.82245078601792
Different distribution (reject H0)

In [53]:
wilcoxon(df['Stacked']-df['CNN+LSTM'])

(9.0, 7.011606525270715e-08, -5.390873386597615)

In [84]:
e1=(df['actual_value']-df['ANN'])-(df['actual_value']-df['ANN'])

In [128]:
df.dropna(inplace=True)

In [101]:
df

,Date,Actual Value,ANN,CNN,DNN,LSTM,RNN,CNN+LSTM,Stacked
0,19-09-13,14.310,13.057549,7.776599,10.766014,13.019789,9.632227,12.473673,12.711188
1,20-09-13,20.102,12.218282,12.236856,15.577593,12.660336,15.024626,13.341926,17.085729
2,21-09-13,20.500,12.707234,17.255718,16.694240,12.287121,17.030193,11.151262,18.149986
3,22-09-13,4.624,12.704515,8.369113,8.675044,12.171265,13.780700,14.357762,7.222719
4,23-09-13,13.773,13.832393,11.844850,14.132401,13.567509,12.027249,12.088261,13.912598
5,24-09-13,11.822,12.100300,9.005859,12.103533,12.933136,14.849843,12.873154,12.008611
6,25-09-13,15.561,12.669759,13.616255,15.005844,12.892848,14.370652,12.273528,15.190896
7,26-09-13,11.520,12.539581,13.162771,14.085648,12.564834,12.185650,14.166844,12.597099
8,27-09-13,16.106,12.746404,15.145874,14.357890,12.756491,16.984903,14.235006,15.816264
9,28-09-13,14.261,12.679556,12.106447,16.284695,12.459688,13.408500,12.185265,14.651398
10,29-09-13,9.749,12.205697,10.487706,8.918785,12.469789,15.904918,11.845932,9.718497
11,30-09-13,28.771,13.183820,12.613724,16.321781,12.902828,14.126562,17.276700,20.789827
12,01-10-13,13.167,12.647975,12.415892,13.547492,11.957770,12.540959,13.687818,13.420661
13,02-10-13,18.661,12.299549,14.437603,14.992746,12.538518,14.419712,13.992210,16.215497
14,03-10-13,11.816,12.717085,10.793727,11.860833,12.286335,10.080678,14.098347,11.845889
15,04-10-13,13.967,12.671282,16.855963,14.445798,12.640432,11.755163,11.270889,14.286199
16,05-10-13,10.304,12.130187,17.995552,16.627546,12.506408,13.517861,14.508565,13.020578
17,06-10-13,6.076,13.055012,7.191708,8.429260,12.846988,10.735991,11.046694,7.232323
18,07-10-13,17.390,13.648641,12.560953,18.525093,13.483812,11.323781,12.729918,18.146729
19,08-10-13,13.229,12.725773,11.009517,12.757385,12.745736,13.402596,12.145688,13.129660
20,09-10-13,8.961,12.279164,9.630391,16.811445,12.714508,8.641925,15.151544,11.471457
21,10-10-13,10.316,13.283543,8.123945,10.515103,13.102154,10.592137,12.259561,10.448735
22,11-10-13,22.102,13.051966,17.353608,16.304457,13.016353,13.111630,15.511148,18.586688
23,12-10-13,3.073,12.693563,10.820675,14.554425,12.337643,11.240191,15.309739,9.482700
24,13-10-13,3.449,14.028674,5.875271,10.367222,13.866415,13.539068,10.018698,6.563831
25,14-10-13,14.790,13.981091,8.510603,17.021963,14.168621,12.749236,12.578942,15.326861
26,15-10-13,14.808,12.341561,13.146519,12.113769,13.260967,14.997134,12.905595,13.972968
27,16-10-13,16.453,12.346185,16.811325,13.505472,12.899446,13.133261,12.634086,15.589932
28,17-10-13,11.706,12.732179,19.603916,10.946753,12.608089,12.140676,12.368775,11.597810
29,18-10-13,17.414,12.699199,20.757961,16.707130,12.777075,13.704370,10.497970,16.942753
30,19-10-13,13.229,12.725609,13.211792,10.610910,12.422872,13.067337,10.343416,12.350567
31,20-10-13,8.698,12.279164,3.513962,12.550596,12.539833,13.561631,9.958502,10.402366
32,21-10-13,12.335,13.316825,12.377477,14.409452,13.052503,12.123146,11.990872,13.040643
33,22-10-13,12.380,12.539565,12.569067,11.288008,12.770905,13.140215,15.973974,12.069191
34,23-10-13,20.155,12.528144,13.128744,12.661065,12.716011,11.761034,11.022728,15.314936
35,24-10-13,13.996,12.706873,15.561546,10.191207,12.277735,12.447358,9.918378,12.298027
36,25-10-13,15.341,12.137635,15.332170,16.201736,12.466544,11.869095,11.162263,15.624969
37,26-10-13,9.206,12.483078,5.367273,9.529707,12.397136,10.915647,13.458357,9.421805
38,27-10-13,12.771,13.252537,11.617054,11.640939,12.951875,11.685591,11.441640,12.454605
39,28-10-13,11.808,12.428913,14.126348,14.252303,12.690916,11.487928,10.567522,12.516077

In [87]:
e1.dropna(inplace=True)

In [88]:
stat, p = wilcoxon(e1)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=298.000, p=0.132

In [73]:
e1=np.abs(e1)

      ANN    CNN    DNN   LSTM    RNN  CNN+LSTM  Stacked
0     9.0   46.0   25.0    9.0   33.0      13.0     11.0
1    39.0   39.0   23.0   37.0   25.0      34.0     15.0
2    38.0   16.0   19.0   40.0   17.0      46.0     11.0
3   175.0   81.0   88.0  163.0  198.0     211.0     56.0
4     0.0   14.0    3.0    1.0   13.0      12.0      1.0
5     2.0   24.0    2.0    9.0   26.0       9.0      2.0
6    19.0   12.0    4.0   17.0    8.0      21.0      2.0
7     9.0   14.0   22.0    9.0    6.0      23.0      9.0
8    21.0    6.0   11.0   21.0    5.0      12.0      2.0
9    11.0   15.0   14.0   13.0    6.0      15.0      3.0
10   25.0    8.0    9.0   28.0   63.0      22.0      0.0
11   54.0   56.0   43.0   55.0   51.0      40.0     28.0
12    4.0    6.0    3.0    9.0    5.0       4.0      2.0
13   34.0   23.0   20.0   33.0   23.0      25.0     13.0
14    8.0    9.0    0.0    4.0   15.0      19.0      0.0
15    9.0   21.0    3.0    9.0   16.0      19.0      2.0
16   18.0   75.0   61.0   21.0   31.0      41.0     26.0
17  115.0   18.0   39.0  111.0   77.0      82.0     19.0
18   22.0   28.0    7.0   22.0   35.0      27.0      4.0
19    4.0   17.0    4.0    4.0    1.0       8.0      1.0
20   37.0    7.0   88.0   42.0    4.0      69.0     28.0
21   29.0   21.0    2.0   27.0    3.0      19.0      1.0
22   41.0   21.0   26.0   41.0   41.0      30.0     16.0
23  313.0  252.0  374.0  301.0  266.0     398.0    209.0
24  307.0   70.0  201.0  302.0  293.0     190.0     90.0
25    5.0   42.0   15.0    4.0   14.0      15.0      4.0
26   17.0   11.0   18.0   10.0    1.0      13.0      6.0
27   25.0    2.0   18.0   22.0   20.0      23.0      5.0
28    9.0   67.0    6.0    8.0    4.0       6.0      1.0
29   27.0   19.0    4.0   27.0   21.0      40.0      3.0
30    4.0    0.0   20.0    6.0    1.0      22.0      7.0
31   41.0   60.0   44.0   44.0   56.0      14.0     20.0
32    8.0    0.0   17.0    6.0    2.0       3.0      6.0
33    1.0    2.0    9.0    3.0    6.0      29.0      3.0
34   38.0   35.0   37.0   37.0   42.0      45.0     24.0
35    9.0   11.0   27.0   12.0   11.0      29.0     12.0
36   21.0    0.0    6.0   19.0   23.0      27.0      2.0
37   36.0   42.0    4.0   35.0   19.0      46.0      2.0
38    4.0    9.0    9.0    1.0    8.0      10.0      2.0
39    5.0   20.0   21.0    7.0    3.0      11.0      6.0

In [14]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [30]:
np.mean(np.abs((14.310 - 7.788999) / 14.310)) * 100

45.56953878406709

In [24]:
mean_absolute_percentage_error(error['true'],error['prophet+cnn'])

38.591528081126185

In [29]:
error.head(2)

         date    true    prophet  prophet+dnn  prophet+RNN  prophet+cnn
0  2013-09-19  14.310   7.665394     8.998369    10.533403     7.788999
1  2013-09-20  20.102  12.386030    13.186590    14.746724    14.028135

In [28]:
error.apply(lambda x: mean_absolute_percentage_error(x['true'], x['prophet+cnn']), axis=1)

0      45.569539
1      30.215228
2      33.596002
3      82.351826
4      13.757282
5      35.514376
6       4.430137
7       7.694348
8      23.849735
9       0.296893
10     29.512376
11     56.339049
12      2.675267
13     53.864426
14     40.573175
15     20.646539
16      8.778693
17     24.064302
18      8.891442
19     31.987413
20     27.382404
21      5.094088
22     45.136370
23    293.244040
24    214.447718
25     12.168752
26     23.732086
27     20.240345
28      6.254639
29     10.283592
30     33.938742
31     65.232455
32     48.265112
33     14.567773
34     22.598064
35     31.154177
36     27.459902
37      7.949357
38     37.990206
39     41.913253
dtype: float64

In [21]:
= pd.read_csv("C:/Users/RAHAT/Downloads/Untitled Folder/Sales_f/data/Splited Data s-1 to s-5/STEST/S_1__I_582865.csv",parse_dates=['date'],index_col='date')

#convert date field from string to datetime
#df['date'] = pd.to_datetime(df['date'])

In [119]:
 mean_absolute_percentage_error(12.771,12.4546046666667)

2.477451517761338

In [147]:
import scipy
scipy.stats.wilcoxon(df['Stacked'],df['DNN'], correction=True)

WilcoxonResult(statistic=0.0, pvalue=7.9663723324991e-08)

In [149]:
import numpy as np
import pingouin as pg
pg.wilcoxon(df['Stacked'],df['DNN'], correction=True)

ModuleNotFoundError: No module named 'pingouin'

In [7]:
from numpy import (asarray, compress) # requiered for local modification
from scipy.stats import (find_repeats, distributions)
from math import sqrt
def wilcoxon(x, y=None, zero_method="wilcox", correction=False):
    """
    Calculate the Wilcoxon signed-rank test.

    The Wilcoxon signed-rank test tests the null hypothesis that two
    related paired samples come from the same distribution. In particular,
    it tests whether the distribution of the differences x - y is symmetric
    about zero. It is a non-parametric version of the paired T-test.

    Parameters
    ----------
    x : array_like
        The first set of measurements.
    y : array_like, optional
        The second set of measurements.  If `y` is not given, then the `x`
        array is considered to be the differences between the two sets of
        measurements.
    zero_method : string, {"pratt", "wilcox", "zsplit"}, optional
        "pratt":
            Pratt treatment: includes zero-differences in the ranking process
            (more conservative)
        "wilcox":
            Wilcox treatment: discards all zero-differences
        "zsplit":
            Zero rank split: just like Pratt, but splitting the zero rank
            between positive and negative ones
    correction : bool, optional
        If True, apply continuity correction by adjusting the Wilcoxon rank
        statistic by 0.5 towards the mean value when computing the
        z-statistic.  Default is False.

    Returns
    -------
    statistic : float
        The sum of the ranks of the differences above or below zero, whichever
        is smaller.
    pvalue : float
        The two-sided p-value for the test.

    Notes
    -----
    Because the normal approximation is used for the calculations, the
    samples used should be large.  A typical rule is to require that
    n > 20.

    References
    ----------
    .. [1] https://en.wikipedia.org/wiki/Wilcoxon_signed-rank_test

    """


    if zero_method not in ["wilcox", "pratt", "zsplit"]:
        raise ValueError("Zero method should be either 'wilcox' "
                         "or 'pratt' or 'zsplit'")


    if y is None:
        d = asarray(x)
    else:
        x, y = map(asarray, (x, y))
        if len(x) != len(y):
            raise ValueError('Unequal N in wilcoxon.  Aborting.')
        d = x - y


    if zero_method == "wilcox":
        # Keep all non-zero differences
        d = compress(np.not_equal(d, 0), d, axis=-1)


    count = len(d)
    if count < 10:
        warnings.warn("Warning: sample size too small for normal approximation.")


    r = stats.rankdata(abs(d))
    r_plus = np.sum((d > 0) * r, axis=0)
    r_minus = np.sum((d < 0) * r, axis=0)


    if zero_method == "zsplit":
        r_zero = np.sum((d == 0) * r, axis=0)
        r_plus += r_zero / 2.
        r_minus += r_zero / 2.


    T = min(r_plus, r_minus)
    mn = count * (count + 1.) * 0.25
    se = count * (count + 1.) * (2. * count + 1.)


    if zero_method == "pratt":
        r = r[d != 0]


    replist, repnum = find_repeats(r)
    if repnum.size != 0:
        # Correction for repeated elements.
        se -= 0.5 * (repnum * (repnum * repnum - 1)).sum()


    se = sqrt(se / 24)
    correction = 0.5 * int(bool(correction)) * np.sign(T - mn)
    z = (T - mn - correction) / se
    prob = 2. * distributions.norm.sf(abs(z))


    return T, prob, z

In [34]:
signtest= pd.read_csv("C:/Users/RAHAT/Downloads/Untitled Folder/Sales_f/Hybrid_signtest.csv")

In [35]:
signtest.head()

   ATES + CNN  ATES + DNN  ATES + GRU  ATES + GRU_CNN_LSTM  Actual Value
0    8.742965   10.866416   12.067019            14.067650        14.310
1   17.883600   15.613717   13.577691            18.450144        20.102
2   20.927123   14.565159   15.590494            19.292836        20.500
3   14.716010   15.513791   16.485517             2.064633         4.624
4   22.604494   15.731198   14.595418            13.847580        13.773

In [33]:
dff=pd.DataFrame(columns=['ATES + CNN','ATES + DNN','ATES + GRU','ATES + GRU_CNN_LSTM'])

In [45]:
dff['ATES + GRU_CNN_LSTM']=signtest.apply(lambda x: mean_absolute_percentage_error(x['Actual Value'], x['ATES + GRU_CNN_LSTM']), axis=1)

In [37]:
np.mean(np.abs((14.310 - 8.742965	) / 14.310)) * 100

38.903109713487076

In [46]:
dff.head()

   ATES + CNN  ATES + DNN  ATES + GRU  ATES + GRU_CNN_LSTM
0   38.903112   24.064179   15.674221             1.693571
1   11.035717   22.327546   32.456022             8.217371
2    2.083525   28.950444   23.948809             5.888606
3  218.252808  235.505852  256.520692            55.349624
4   64.121786   14.217660    5.971230             0.541494

In [47]:
dff.to_csv('wilcoxon_hybrid_file.csv')

In [54]:
error= pd.read_csv("C:/Users/RAHAT/Downloads/Untitled Folder/Sales_f/wilcoxon_hybrid_file.csv")

In [55]:
error.head()

   Unnamed: 0  ATES + CNN  ATES + DNN  ATES + GRU  ATES + GRU_CNN_LSTM
0           0   38.903112   24.064179   15.674221             1.693571
1           1   11.035717   22.327546   32.456022             8.217371
2           2    2.083525   28.950444   23.948809             5.888606
3           3  218.252808  235.505852  256.520692            55.349624
4           4   64.121786   14.217660    5.971230             0.541494

In [58]:
stat, p,z = wilcoxon(error['ATES + GRU_CNN_LSTM'],error['ATES + GRU'])
print('Statistics=%.3f, p=%.3f' % (stat, p))
print(p)
print(z)

# interpret
alpha = 0.05
if p > alpha:
	print('Same distribution (fail to reject H0)')
else:
	print('Different distribution (reject H0)')

Statistics=1.000, p=0.000
1.9209211049031396e-06
-4.761570560657986
Different distribution (reject H0)

In [59]:
robut= pd.read_csv("C:/Users/RAHAT/Downloads/Untitled Folder/Sales_f/TS_FORECAST_60%.csv",parse_dates=['date'],index_col='date')

#convert date field from string to datetime
#df['date'] = pd.to_datetime(df['date'])

In [60]:
robut.head()

,Unnamed: 0,Unnamed: 0.1,actual_value,arima,Prophet,Sarima,SES,Holt_Winter
date,,,,,,,,
2015-11-10,0,0,4.386,9.286938,11.027575,13.053703,10.852424,14.113855
2015-12-10,1,1,10.317,12.393542,13.712123,12.912117,10.852424,11.606816
2015-10-13,2,2,7.598,13.328851,13.136254,12.915222,10.852424,11.510771
2015-10-14,3,3,15.872,14.079578,7.958804,12.915154,10.852424,14.062201
2015-10-15,4,4,18.938,13.242960,11.904004,12.915155,10.852424,10.028837

In [63]:
mean_absolute_percentage_error(robut['actual_value'],robut['SES'])

62.88458247095701